.navbar {
  background-color: #CCF;
  margin-bottom: 1rem;
}

.ma1 {
  margin: 0.5rem;
}

.ma2 {
  margin: 1rem;
}

.ma3 {
  margin: 2rem;
}

.mt1 {
  margin-top: 0.5rem;
}

.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 2rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 2rem;
}
