[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
prospector = "*"
mypy = "*"

[packages]
django = "*"
django-registration-redux = "*"
django-debug-toolbar = "*"
django-extensions = "*"
werkzeug = "*"
pygraphviz = "*"
django-widget-tweaks = "*"
django-bulma = "*"
pillow = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
