{% extends "base_with_navbar.html" %}
{% load bulma_tags %}

{% block content %}
  <h2 class="title">Add student for {{ cohort.name }}</h2>

  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bulma }}

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Add student</button>
      </div>
      <div class="control">
        <a href="{{ cohort.get_absolute_url }}" class="button is-link is-light">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
