{% extends "base_with_navbar.html" %}

{% block content %}

<h1 class="title">Momentum Student Directory</h1>

<h2 class="is-size-4">Our Latest Cohort <small>(Graduated {{ cohort.end_date }})</small></h2>

<h3 class="is-size-5 mb2">Students</h3>

<div class="columns">
{% for member in cohort.members.all %}
  {% include "_partials/member.html" %}
{% endfor %}
</div>

<h3 class="is-size-5 mb2">Final Projects</h3>

<div class="columns">
{% for project in cohort.final_projects.all %}
  {% include "_partials/project.html" %}
{% endfor %}
</div>

{% endblock %}
