{% extends "base_with_navbar.html" %}

{% block content %}
<div class="columns">
  <div class="column">
    <h1 class="title">{{ user.name }}</h1>
    <h2 class="subtitle">
      {% if user.cohort %}
      {{ user.cohort }}
      {% elif user.is_momentum_staff %}
      Momentum staff member
      {% endif %}    
    </h2>
    {% if user.looking_for_job %}
      <p class="subtitle has-text-danger">Available for hire</p>
    {% endif %}

    {% if request.user == user %}
      <div style="margin-bottom: 1.5rem">
      <a href="{% url 'profile' %}" class="button is-primary">Edit my profile</a>
      </div>
    {% endif %}

    <section style="margin-bottom: 1.5rem">
    <h3 class="title is-size-4">Specialities</h3>
    <p>      
      {% for speciality in user.specialities.all %}
        <span class="tag">{{ speciality }}</span>
      {% endfor %}
    </p>
    </section>

    <section style="margin-bottom: 1.5rem">
    <h3 class="title is-size-4">Interests</h3>
    <p>      
      {% for interest in user.interests.all %}
        <span class="tag">{{ interest }}</span>
      {% endfor %}
    </p>    
    </section>
  </div>
  {% if user.avatar %}
  <div class="column">
    <figure class="image">
      <img src="{{ user.avatar.url }}" alt="{{ user.name }}">
    </figure>
  </div>
  {% endif %}  
</div>
{% if user.projects.count %}
<div>
  <h3 class="title is-size-4">Projects</h3>
  <div class="columns"  style="margin-top: 1rem; margin-bottom: 2rem;">
  {% for project in user.projects.all %}
  <div class="column is-4">
      <div class="card">
        {% if project.screenshot %}
        <div class="card-image">
          <figure class="image">
            <img src="{{ project.screenshot.url }}" alt="Screenshot of {{ project.name }}">
          </figure>
        </div>
        {% endif %}
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title">{{ project.name }}</p>
              <p class="subtitle">{{ project.members.all|join:", " }}</p>
            </div>
          </div>

          <div class="content">
            {{ project.description }}
          </div>

          <nav class="level is-mobile">
            <div class="level-left">
              {% if project.repo_url %}
              <a class="level-item" href="{{ project.repo_url }}">
                Source code
              </a>
              {% endif %}
              {% if project.video_url %}
              <a class="level-item" href="{{ project.video_url }}">
                Demo Day video
              </a>
              {% endif %}
              {% if project.demo_url %}
              <a class="level-item" href="{{ project.demo_url }}">
                Live demo site
              </a>
              {% endif %}
          </nav>
        </div>
      </div>
      </div>
  {% endfor %}
  </div>
  </div>
{% endif %}


{% endblock %}
