{% extends "layout.html" %}
{% load bulma_tags %}
{% load static %}

{% block content %}
<script src="{% static 'chosen/chosen.jquery.js' %}"></script>

<form action="" method="POST">
{% csrf_token %}

{{ form|bulma }}

<div class="field">
  <div class="control">
    <button class="button is-primary" type='submit'>Update profile</button>
  </div>
</div>
</form>

<script>
$('#{{ form.specialities.id_for_label }}')
  .parent().removeClass("select is-multiple").end()
  .addClass('input').chosen();
$('#{{ form.interests.id_for_label }}')
  .parent().removeClass("select is-multiple").end()
  .addClass('input').chosen();
</script>
{% endblock %}
